In [2]:
#Importing packages
import os
import math as m
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

pd.options.mode.chained_assignment = None  # default='warn'


# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
pd.set_option('display.max_rows', 100)

In [28]:
pool_history_df = pd.read_csv('dataset.csv')

In [29]:
pool_history_df.shape[0]

18758

In [30]:
pool_history_df

,pool_id,pool_addr,epoch,roa,active_stake
0,c1ede3cc9133209466774d4826044e408db13d6fe6df75...,pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...,266,10.249,527631485613
1,c1ede3cc9133209466774d4826044e408db13d6fe6df75...,pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...,267,10.142,527631485613
2,c1ede3cc9133209466774d4826044e408db13d6fe6df75...,pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...,268,0.000,527589680120
3,c1ede3cc9133209466774d4826044e408db13d6fe6df75...,pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...,269,10.017,528340712813
4,c1ede3cc9133209466774d4826044e408db13d6fe6df75...,pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...,270,10.022,529124734881
...,...,...,...,...,...
18753,7d788a436d0f89669c12c32c563a5b3925f6bbed26f005...,pool104ug5smdp7ykd8qjcvk9vwjm8yjldwldymcq2zlue...,273,0.000,1031218746
18754,fd17a8a715c510d8d378f1272f052c0c9d7991e90e985d...,pool1l5t63fc4c5gd35mc7ynj7pfvpjwhny0fp6v96jawp...,273,0.000,3622050
18755,3e71cb8fd420f425973e7fa17b4a8e2875aac0809d9674...,pool18ecuhr75yr6zt9e707shkj5w9p664syqnkt8gmmlk...,273,0.000,57618046
18756,cb7710f54debda254005da120424f31a9725cc3fbcd966...,pool1edm3pa2da0dz2sq9mgfqgf8nr2tjtnplhnvkdwuwd...,273,0.000,137261172
18757,bd2d973b97a4afac701454ddca3bc83d4e704027977ddb...,pool1h5kewwuh5jh6cuq52nwu5w7g8488qsp8ja7ahs8p2...,273,0.000,8247425397

In [31]:
pool_history_df =  pool_history_df.dropna()

In [32]:
x = pool_history_df.iloc[:,4].values
x = x.reshape((-1, 1))
y = pool_history_df.iloc[:,3].values

In [34]:
print(x)
print(y)

[[527631485613]
 [527631485613]
 [527589680120]
 ...
 [    57618046]
 [   137261172]
 [  8247425397]]
[10.249 10.142  0.    ...  0.     0.     0.   ]

In [35]:
model = LinearRegression()

In [36]:
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
model = LinearRegression(normalize=True).fit(x, y)

In [42]:
 r_sq = model.score(x, y)

In [46]:
print('coefficient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)

coefficient of determination: 0.0006548763272344882
intercept: 3.2111911785454357
slope: [4.11271693e-14]

### Okay, so from the intial regression analysis we can see that our model of the roa based on active stake is quite poor.